<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DatePage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="">-->
    </head>
    <body onload="LoadFunction({{data}});">
        <script>
            function LoadFunction(data) {
                data.forEach(createElements);
            }
            function createElements(item){
                newlink = document.createElement('a');
                newlink.innerHTML = item;
                newlink.href = 'http://127.0.0.1:8000/table/table_' + item + '_{{dateValue}}';
                document.body.appendChild(newlink);
                document.body.appendChild(document.createElement('p'));
                //{innerHTML: item, href: 'http://127.0.0.1:8000/table/' + dateValue + item}
            }

        </script>
    </body>
</html>